/* font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; */

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__div {
  top: 7%;
  right: 3%;
  left: 3%;
}

/* HEADER SECTION */

header > * {
  position: absolute;
}

.header__welcome {
  position: relative;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  height: 100vh;
  font-family: 'Saira Condensed', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.header__img {
  height: 70%;
  bottom: -20%;
  right: 10%;
  opacity: 0.8;
}

.header__h1 {
  margin-top: 10px;
  font-size: 20px;
}

.header__h2 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: normal;
}

.header__button {
  margin-top: 20px;
  font-family: 'Saira', sans-serif;
  font-weight: 300;
  line-height: 32px;
  padding: 0 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  font-size: 12px;
  border: 2px solid white;
  opacity: 0.8;
}

.header__paragraph--emoji {
  opacity: 0.8;
}

/* MEDIA QUERY SECTION - PORTRAIT */

@media (orientation: portrait) and (min-width: 360px) {
  .header__h1 {
    font-size: 24px;
  }
  .header__h2 {
    font-size: 20px;
  }
  .header__button {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .header__h1 {
    font-size: 26px;
  }
  .header__h2 {
    font-size: 22px;
  }
  .header__button {
    margin-top: 40px;
    line-height: 50px;
    font-size: 20px;
  }
  .header__img {
    right: 5%;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .header__h1 {
    font-size: 32px;
  }
  .header__h2 {
    font-size: 32px;
  }
  .header__button {
    margin-top: 60px;
    line-height: 60px;
    font-size: 24px;
  }
  .header__img {
    height: 70vh;
    right: -10%;
  }

  .header__paragraph {
    font-size: 80px;
  }

  .header__paragraph--emoji {
    font-size: 60px;
  }
}

/* MEDIA QUERY SECTION - LANDSCAPE */

@media (orientation: landscape) {
  .header__img {
    height: 80%;
    bottom: 0;
    right: -5%;
  } 
  .header__div {
    top: 15%;
    left: 3%;
    right: 42%;
  }
  .header__button {
    margin-top: 40px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {

  .header__img {
    bottom: -25%;
    height: 90vh;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  .header__h1 {
  font-size: 24px;
  } 
  .header__h2 {
  font-size: 20px;
  }
  .header__button {
    font-size: 16px;
    line-height: 40px;
  }
  .header__img {
    right: -5%;
    bottom: -35%;
    height: 110vh;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .header__div {
    left: 3%;
  }
  .header__paragraph {
    font-size: 56px;
  }
  .header__h1 {
  margin-top: 40px;
  font-size: 34px;
  } 
  .header__h2 {
  font-size: 30px;
  }
  .header__button {
    margin-top: 80px;
    font-size: 24px;
    line-height: 50px;
  }
  .header__img {
    right: -5%;
    bottom: -26%;
    height: 95vh;
  }
}

@media (orientation: landscape) and (min-width: 1280px) {

  .header__div {
    text-align: left;
  }
  .header__paragraph {
    font-size: 100px;
  }
  .header__h1 {
  margin-top: 40px;
  font-size: 60px;
  } 
  .header__h2 {
  font-size: 48px;
  }
  .header__button {
    margin-top: 100px;
    font-size: 30px;
    line-height: 80px;
    padding: 0 50px;
  }
  .header__img {
    right: -5%;
    bottom: -35%;
    height: 120vh;
  }

  .header__paragraph--emoji {
    font-size: 80px;
  }
}

@media (orientation: landscape) and (min-width: 1600px) {
  .header__div {
    left: 10%;
  }

  .header__paragraph {
    font-size: 120px;
  }

  .header__button {
    font-size: 36px;
    line-height: 90px;
  }
  .header__paragraph--emoji {
    font-size: 100px;
  }
}

/* MEDIA QUERY FOR BUTTON */

@media (min-width: 1024px) {
  .header__button {
  cursor: pointer;
  transition: .3s;
  }
  .header__button:hover {
    background-color: #fff;
    color: #111;
  }
}



/* FEATURES SECTION */

.features {
  max-width: 1600px;
  margin: 50px 0 auto;
  padding: 5%;
  text-align: center;
}

.features__h1 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 32px;
}

.features__h2 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.features__paragraph {
  font-family: 'Saira', sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: 20px 0;
}

.features__img {
  width: 100%;
  margin: 5px 0;
  max-width: 375px;
}

/* MEDIA QUERIES FOR FEATURES SECTION */

@media (min-width: 360px) {
  .features__h1 {
    font-size: 26px;
  } 
  .features__h2 {
    font-size: 24px;
  }
  .features__paragraph {
    font-size: 14px;
  } 
}

@media (min-width: 768px) {
  .features__h1 {
    font-size: 32px;
  } 
  .features__h2 {
    font-size: 28px;
  }
  .features__paragraph {
    font-size: 18px;
  } 
}

@media (min-width: 1024px) {

  .features {
    padding-left: 2%;
    padding-right: 2%;
  }

  .features__box {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
  }

  .features__div {
    flex-basis: 33%;
    padding: 20px;
  }

  .features__h1 {
    font-size: 36px;
    margin-bottom: 50px;

  }

    .features__h2 {
    font-size: 18px;
  }

  .features__paragraph {
    font-size: 16px;
    line-height: 120%;
    padding: 0 10px;
  } 
}

@media (min-width: 1600px) {


  .features__div {
    padding: 60px;
  }

  .features__h1 {
    font-size: 60px;
  }

    .features__h2 {
    font-size: 32px;
  }

  .features__paragraph {
    font-size: 21px;
    line-height: 140%;
  } 
}

/* PORTFOLIO SECTION */

.portfolio {
  background-color: #000;
  padding: 10px 0 30px;
}

.portfolio__h1 {
  color: #fff;
  font-size: 24px;
  font-family: 'Saira Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 10px;
}

.box__img {
  width: 100%;
}

.portfolio__div {
  max-width: 1240px;
  margin: 0 auto 20px;
}

.portfolio__div:nth-of-type(odd) {
  background-color: orange;
}

.portfolio__div:nth-of-type(even) {
  background-color: royalblue;
}

/* ABOUT */

.about {
  color: white;
  font-family: 'Saira', sans-serif;
  font-weight: normal;
  padding: 10px 20px 20px 0;
  text-align: left;
}

.about__h2 {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  margin-bottom: 12px;
  padding-bottom: 6px;
  text-indent: 20px;
}

.about__paragraph {
  font-size: 12px;
  padding-left: 20px;
}

/* MEDIA QUERY FOR PORTFOLIO SECTION */

@media (min-width: 768px) {

  .portfolio__h1 {
    font-size: 32px;
  }

  .about__h2 {
    font-size: 24px;
    text-indent: 40px;
  }
  
  .about__paragraph {
    font-size: 18px;
    padding-left: 40px;
  }

  .portfolio__div {
    margin-bottom: 40px;
  }

}

@media (orientation:landscape) {
  .portfolio__div {
    display: flex;
  }

  .box, .about {
    flex-basis: 50%;
  }

  .box__img {
    display: block;
  }
  
  .portfolio__div:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .portfolio__div:nth-of-type(even) .about {
    padding-right: 0;
  }

  .portfolio__div:nth-of-type(even) .about__h2 {
    text-indent: 0;
    margin-left: 40px;
  }

  .portfolio__div:nth-of-type(even) .about__paragraph {
    padding-right: 20px;
  }
}

@media (min-width: 1240px) {
  .portfolio__h1 {
    font-size: 40px;
  }

  .about__h2 {
    padding-top: 50px;
    font-size: 26px;
    margin-bottom: 50px;
  }
  
  .about__paragraph {
    font-size: 20px;
    line-height: 180%;
  }

  .portfolio__div {
    margin-bottom: 40px;
  }
}

/* MOTTO SECTION */

.motto {
  text-align: center;
  background-image: url(../images/motto.jpg);
  background-size: cover;
  background-position: top center;
  padding: 30px 10px;
  color: white;
}

.motto__h1 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 32px;
}

.motto__paragraph {
  font-family: 'Saira', sans-serif;
  font-size: 18px;
};

.motto__author {
  font-size: 12px;
}

section {
  min-height: 100vh;
}
